body {
    font-family: 'Orbitron', sans-serif;
    margin: 0;
}
.logoContainer{
    width: 100%;
    display: grid;
    padding: 15px 20px;
    margin-top: 15px;
    grid-template-columns: repeat(8, minmax(200px, 270px));
    justify-content: space-around;
    column-gap: 10px;
    row-gap: 20px;

}
.logos {
  display: block;
  margin: 10px auto;
  max-width: 60%;
  max-height: 60%;
  border-radius: 15px;
}

.logos:hover{
    transform: scale(1.5); 
}

.bar {
    text-align: center;
    display: inline-block;
    background-color: slategrey;
    color: white;
    width: 100%;
}

.App {
    background-color: salmon;
    height: 100%;
}